<app-header></app-header>

<!-- <div class="container">
    <app-selection-card (formSelected)="nFormAdded($event)"></app-selection-card>
    <app-temp [formDetails] = "storedForm"></app-temp>
</div> -->


  <!-- <div class="container">
    <app-selection-card (postCreated)="onPostAdded($event)"></app-selection-card>
    <app-temp [posts]="storedPosts"></app-temp>
</div>  -->

<div class="container">
    <app-selection-card></app-selection-card>
    <!-- <app-temp></app-temp> -->
    <!-- <div>
    <app-teacher-side></app-teacher-side>
    </div>-->
    
</div> 
<router-outlet></router-outlet>


<!-- <main>
  <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
  <app-post-list [posts]="storedPosts"></app-post-list>
</main> -->